/************************************************************
*	工具类
*************************************************************/
.hide {
	display: none;
}

/************************************************************
*	公共部分
*************************************************************/
html {
	background-color: #e9e9e9;
}

body {
	position: relative;
	padding-top: 60px;
	padding-bottom: 150px;
}


/*
*	底部
*/
.footer {
	text-align: center;
	height: 80px;
	background-color: #777;
	padding-top: 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	
}

.hide {
	display: none;
}


/************************************************************
*	资金页面
*************************************************************/

/*
*主体
*/
.funds .main {
	margin-top: 68px;
	padding-bottom: 40px;
}

.funds .row-1 {
	margin-top: 20px;
}

.funds .row-2 {
	margin-top: 100px;
}
/*
*	左侧菜单
*/

.funds .funds-menus {
	margin-top: 39px;
}
.funds .accordion a {
    text-decoration: none;
    color: #0f0f0f;
}

/*
*	账户余额
*/
.funds .account-balance {
	/*margin-top: 20px;*/
}

.funds .account-safe .table td, .account-balance .table td{
	border: none;
}

/*
*	注意事项
*/
.funds .attention {
	/*margin-top: 20px;*/
}

.funds .attention ul {
	margin-left: 0;
}

.funds .attention li {
	list-style: none;
	padding-bottom: 10px;
}

/*
*	自我禁止
*/
.funds .self-forbid {
	/*margin-top: 20px;*/
}


/************************************************************
*	会员列表页面
*************************************************************/

.members .tiles-wrap {
	max-width: 1170px !important; 
	margin: 0 auto;
}

.members header h1 {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  margin: 30px 0 3px 0;
}

.members header p {
  text-align: center;
  font-size: 13px;
  color: #777;
  margin: 0;
}

.members  #tiles {
  list-style-type: none;
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 0 0;
  padding: 0;
}

.members #tiles li {
  width: 200px;
  background-color: #ffffff;
  border: 1px solid #dedede;
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: none; /** Hide items initially to avoid a flicker effect **/
  cursor: pointer;
  padding: 4px;
}

.members #tiles li.inactive {
  visibility: hidden;
  opacity: 0;
}

.members #tiles li img {
  display: block;
}

/**
 * Grid item text
 */
.members #tiles li p {
  color: #666;
  font-size: 12px;
  margin: 7px 0 0 7px;
}

/**
 * Placerholder css
 */
.members .wookmark-placeholder {
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #eee;
  border: 1px solid #dedede;
  z-index: -1;
}
